#body{
	background-color: #f6f8f8;
}
.data_delete{
    background-color: #dddddd;
	position: absolute;
	height: 150px;
	width: 600px;
	left: 40%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
    padding: 30px;
    display:table;
    vertical-align: middle;
    text-align: center;
}

.data_delete a{
    text-decoration-style: solid;
    color: floralwhite;
}

.data_delete input{
    text-decoration-style: solid;
    color: floralwhite;
}

.data_delete h2{
    font-size: 20pt;
    color: #ab0f04;
}
.data_delete span{
    font-weight: bold;
    color: #046dab;
    font-size: 12pt; 
}
.btn_cancel{
    width: 124px;
    background: #046dab;
    color: #ffff;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

.btn_ok{
    width: 124px;
    background: #046dab;
    color: #ffff;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}