/**********lista de usuario********/

#container h1 {
	font-size: 25px;
	display: inline-block;
	color: navy;
}

.btn_nuevo {
	display: inline-block;
	background: #046dab;
	color: ghostwhite;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table {
	border-collapse: collapse;
	font-size: 13pt;
	font-family: "arial";
	width: 100%;
}
table th {
	text-align: center;
	padding: 10px;
	background: #386f97;
	color: #fff;
}
table td {
	text-align: center;
	padding: 8px;
	font-size: 12pt;
}
.link_edit {
	color: #0ca4ca;
	font-size: 10pt;
}
.link_delete {
	color: #f26b6b;
	font-size: 10pt;
}

#filenamePDF {
	font-size: inherit;
	display: inherit;
	color: inherit;
}
