*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    font-family: 'Arial';
    font-size: 25pt;
    letter-spacing: 1px;
    width: 100%;
    background: #046dab ;
    padding: 15px;
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
}
#container{
    background:  #f6f8f8 ;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#container form{
    background: #f6f8f8;
    width: 450px;
    padding: 15px; 
    margin: 10px 0;
}
#container form img{
    margin: 15px auto;
    text-align: center;
    display: block;
}
#container form input{
    width: 98%;
    padding: 5px;
    font-size: 14pt;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid #4D5656;
    text-align: left;
}
#container form input[type="submit"]{
    background: #046dab;
    font-size: 18pt;
    padding: 5px;
    color: #ffff;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.alert{
    font-family: 'Arial';
    font-size: 12pt;
    letter-spacing: 1px;
    text-align: center;
    padding: 1px;
    color: #046dab;
    text-transform: uppercase;
}
hr{
    border: 0;
    background: #046dab;
    height: 1px;
    margin: 10px 0;
    display: block;
}
form{
    background: #fff;
    margin: 10px auto;
    padding: 50px 100px;  
    border: 1px solid #d1d1d1;
}
label{
    display: block;
    font-size: 12pt;
    font-family: "Arial";
    margin: 5px auto 3px auto;
    width: 100%;
}

.btn_guardar{
    background: #046dab;;
    font-size: 12pt;
    padding: 5px;
    color: #85259C;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
    
}
.msg_error{
    color: #bf1b03; 
}
.msg_save{
    color: #046dab; 
}
.alert p{
    padding: 10px;
}
/**********lista de usuario********/
#container h1{
	font-size: 35px;
	display: inline-block;
}
#container2{
    background:  #fff ;
    width: 100%;
    height: 15vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}