/**********lista de usuario********/

#container h1{
	font-size: 35px;
	display: inline-block;
}
.btn_nuevo{
	display:inline-block;
	background: #386f97;
	color: ghostwhite;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'arial';
	width:100%;
}
table th{
	text-align: center;
	padding: 10px;
	background:#386f97;
	color: #fff;
}
table td{
	text-align: center;
	padding: 10px;
}
.link_edit{
	color: #0ca4ca;
}
.link_delete{
	color: #f26b6b;

}
