* {
	background: #f6f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

body{
    background: brown;
    display: flex;
    min-height: 100vh;
}

form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background: #f6f8f8;
    padding: 30px;  
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
h3{
    padding: 15px;
    text-align: center;
    background: #ff5100d5 ;
    color: #f6f8f8;
    text-transform: uppercase;
}
#container{
    background:  #f6f8f8 ;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#container2{
    background:  #f6f8f8 ;
    width: 100%;
    height: 15vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#container img{
	width: 150px;
    height: 150px;
	
}

#container form{
    background: #f6f8f8;
    width: 450px;
    padding: 15px; 
    margin: 10px 0;
}
#container form img{
    margin: 15px auto;
    text-align: center;
    display: block;
}

#container form input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px; 
    border-radius: 5px;
    border: 1px solid #ff5100d5;
    text-align: left;
}

#container form input[type="submit"]{
    background: #ff5100d5;
    font-size: 18pt;
    padding: 3px;
    color: #ffff;
    letter-spacing: 2px;
    border: 3;
    cursor: pointer;
    text-align: center;
}
.alert{
    font-family: 'Arial';
    font-size: 15pt;
    letter: spacing 2px;
    text-align: center;
    padding: 5px;
    color: #470804;
    text-transform: uppercase;
}
