#container{
	font-family: "Arial";
    background:  #f6f8f8 ;
	color: navy;
    width: 100%;
    height: 40vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: right;
    align-items: right; 
}

#container2{
    font-family: "Arial";
    background:  #f6f8f8 ;
	color: navy;
    width: 100%;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#container2 img{
	width: 200px;
    height: 200px;
    }

    h2{
        font-size: 50px;
        font-family: 'arial';
        font-weight: bold;
        letter-spacing: 3px;
    }
    h1{
        font-size: 20px;
        font-family: 'arial';
        font-weight: bold;
        letter-spacing: 3px;
    }

