#body{
	background-color: #f6f8f8;
}
.form_register{
    width: 450px;
    margin: auto;
}
.form_register h1{
    color:  #2c4866; 
    font-family: "Arial";
}
label{
    display: block;
    font-size: 12pt;
    font-family: "Arial";
    margin: 5px auto 3px auto;
    width: 100%;
}
input,select{
    display: block;
    width: 98%;
    font-size:11pt;
    padding: 1px;
    border: 1px solid #85929e;
    border-radius: 5px; 
}
.notItemOne option:first-child{
    display: none;
}
#container{
    background:  #f6f8f8 ;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#container2{
    background:  #fff ;
    width: 100%;
    height: 15vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#container form{
    background: #FDFEFE;
    width: 450px;
    padding: 15px; 
    margin: 10px 0;
}
#container form input{
    width: 98%;
    padding: 5px;
    font-size: 14pt;
    display: block;
    margin: 12px auto;
    border-radius: 5px;
    border: 1px solid #4D5656;
    text-align: left;
}
#container form input[type="submit"]{
    width: 35%;
    text-align: center;
    background: #046dab;
    font-size: 10pt;
    padding: 6px;
    margin: 8px 2px;
    color: #ffff;
    letter-spacing: 1px;
    display:inline-block;
    border: 0;
    cursor: pointer;
}
.btn_c{
    width: 35%;
    background: #046dab;
    color: #ffff;
    text-align: center;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}
.alert{
    font-family: 'Arial';
    font-size: 30pt;
    letter: spacing 2px;
    text-align: center;
    padding: 5px;
    color: #283747;
    text-transform: uppercase;
}
